<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sportswear store</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:insert="sections/header :: header"></header>

<div class="container">
    <h1>Magazine</h1>
<!--    <p>Welcome, <span th:text="${#authentication.name}"></span></p>-->
    <p>This is the best online store!</p>
</div>

<footer th:replace="sections/footer :: footer"></footer>

<!--    <script src="/js/scripts.js"></script>-->
</body>
</html>
